---
layout: default
title: Comunicazioni
---

{% for post in paginator.posts %}
<article>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d/%m/%y" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Precedente
    </a>
  {% else %}
    <span class="previous">Precedente</span>
  {% endif %} -
  <span class="page_number ">
    pagina: {{ paginator.page }} di {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    - <a href="{{ paginator.next_page_path }}" class="next">Successiva</a>
  {% else %}
    - <span class="next ">Successiva</span>
  {% endif %}
</div>