{% assign year = page.date | date: "%Y" %}
{% assign year_page_url = "/" | append: year | append: "/" %}
{% assign month_int = page.date | date: "%m" %}
{% assign month_page_url = year_page_url | append: month_int | append: "/" %}
{% assign day_int = page.date | date: "%d" %}
{% assign day_page_url = month_page_url | append: day_int %}

<div id="breadcrumbs">
{% assign crumbs = page.url | remove: '/index.html' | replace: day_page_url, '/comunicazioni' | split: '/' %}

    <a href="{{ '/' | relative_url }}">Home</a>

    {% for crumb in crumbs offset: 1 %}
        /
        {% if forloop.last %}
            {{ page.title }}
        {% else %}
            {% assign crumb_limit = forloop.index | plus: 1 %}
            <a href="{{ site.baseurl }}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
                {{- crumb | replace: '-', ' ' | remove: '.html' | capitalize -}}
            </a>
        {% endif %}
    {% endfor %}

</div>
