<div id="corsi_head" class="w3-container">
	<div class="w3-content w3-card" style="background-color: #efe;">
		<div class="w3-row">
			<div class="w3-col s12 m4">
				<div class="w3-row-padding"><h2><a href="{{ site.url }}{{ site.baseurl }}/laurea/corso/">Laurea</a></h2></div>
				<div class="w3-row">
					<div class="w3-col s6 w3-center">
						<a href="">
							<div class="w3-card w3-white  w3-margin w3-padding">
			 		    	<h6>Sistemi software e web</h6> 
							<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/4120254.jpg"/>
					 		</div>
					 	</a>-
					 </div>
					<div class="w3-col s6 w3-center">
						<div class="w3-card w3-white w3-margin w3-padding">
					 		<h6>Robotica e automazione</h6> 
						<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/Picture2.png"/>
					 	</div>
					 </div>
	    	 	</div>
	    	</div>
			<div class="w3-col s12 m8">
				<div class="w3-row-padding"><h2><a href="{{ site.url }}{{ site.baseurl }}/magistrale/corso/">Laurea magistrale</a></h2></div>
				<div class="w3-row">
					<div class="w3-col s6 m3 w3-center">
						<div class="w3-card w3-white  w3-margin w3-padding">
				 		<h6> 	Indirizzo generale </h6>
						<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/4401280.jpg"/>
					 	</div>
					 </div>
					<div class="w3-col s6 m3 w3-center">
						<div class="w3-card w3-white  w3-margin w3-padding">
				 		<h6> 	Cyber security </h6> 
						<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/2942057.jpg"/>
					 	</div>
					 </div>
					<div class="w3-col s6 m3 w3-center">
						<div class="w3-card w3-white  w3-margin w3-padding">
				 		<h6> 	Data science and engineering </h6> 
						<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/disegnoromolo.png"/>
					 	</div>
					 </div>
					<div class="w3-col s6 m3 w3-center">
						<div class="w3-card w3-white  w3-margin w3-padding">
				 		<h6> 	System and software engineering </h6> 
						<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/Picture3.png"/>
					 	</div>
					 </div>
				</div>
	    	</div>
        </div>
	</div>
</div>
