<div id="corsi_head" class="w3-container">
	<div class="w3-content w3-card" style="background-color: #efe;">
		<div class="w3-row w3-padding"><h2>Laurea</h2></div>
		<div class="w3-row w3-padding">
			<div class="w3-col s10 m2 w3-center w3-margin w3-card w3-white w3-margin flip-card">
				  <div class="flip-card-inner">
				    <div class="flip-card-front">
				    	<h6>Sistemi software e web</h6> 
						<img class="w3-image responsive" style="width:100px;height:100px; alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/Picture1.jpg"/>
				    </div>
				    <div class="flip-card-back">
				      <h6>Sistemi software e web</h6> 
				      <p>Dettagli</p>
				    </div>
				  </div>
				 
	    	 </div>
			<div class="w3-col s10 m2 w3-center w3-margin w3-card w3-white w3-margin w3-padding">
		 		<h6>Robotica e automazione</h6> 
				<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/Picture2.png"/>
	    	 </div>
        </div>
		<div class="w3-row w3-padding"><h2>Laurea magistrale</h2></div>
		<div class="w3-row w3-padding">
			<div class="w3-col s10 m2 w3-center w3-margin w3-card w3-white w3-padding">
		 		<h6> 	Indirizzo generale </h6> 
				<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/4401280.jpg"/>
			 </div>
			<div class="w3-col s10 m2 w3-center w3-margin w3-card w3-white w3-padding">
		 		<h6> 	Cybersecurity </h6> 
				<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/2942057.jpg"/>
			 </div>
			<div class="w3-col s10 m2 w3-center w3-margin w3-card w3-white w3-padding">
		 		<h6> 	Data science and engineering </h6> 
				<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/disegnoromolo.png"/>
			 </div>
			<div class="w3-col s10 m2 w3-center w3-margin w3-card w3-white w3-padding">
		 		<h6> 	System and software engineering </h6> 
				<img class="w3-image responsive" alt="Università degli Studi di Roma Tor Vergata" src="{{ site.url }}{{ site.baseurl }}/img/Picture3.png"/>
			 </div>
		</div>
	</div>
</div>
