<table class="w3-table" style="text-align: center;border: 1px solid; border-collapse: collapse;">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td  class="cell" colspan="2">Indirizzi</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td  class="cell">Sistemi software e web</td>
      <td  class="cell">Robotica e automazione</td>
    </tr>

    <tr>
      <td  class="cell" rowspan="2">Area A</td>
      <td  class="cell" colspan="2">
        Analisi matematica 1 <br> 
        Analisi matematica 2 <br> 
        Fisica 1  <br>
        Fisica 2  <br>
        Fondamenti di informatica  <br>
        Geometria  <br>
        Ingegneria degli algoritmi  <br>
        Probabilità e statistica  <br>
        Ricerca operativa
      </td>
    </tr>
    <tr style="background-color: white;">
      <td  class="cell">
        Algebra e logica <br> 
        Automi e linguaggi <br> 
      </td><td  class="cell">-</td>
    </tr>

    <tr style="background-color: #ddd;">
      <td  class="cell" rowspan="2">Area B</td>
      <td  class="cell" colspan="2">
        Calcolatori elettronici <br>
        Sistemi operativi <br>
      </td>
    </tr>
    <tr style="background-color: #ddd;">
      <td class="cell" >
        Ingegneria di Internet e Web <br> 
      </td><td class="cell" >-</td>
    </tr>


    <tr style="background-color: #fff;">
      <td  class="cell" rowspan="2">Area C</td>
      <td  class="cell" colspan="2">
        Ingegneria del software e progettazione Web
      </td>
    </tr>
    <tr style="background-color: #fff;">
      <td class="cell" >
        Basi di dati <br> Mobile programming 
      </td>
      <td class="cell" >Automazione e robotica <br> Controlli automatici <br> Laboratorio di automatica <br> Teoria dei sistemi</td>
    </tr>

    <tr  class="cell" style="background-color: #ddd;">
      <td  class="cell" >Area D</td>
      <td  class="cell" colspan="2">
        Fondamenti di controlli  <br> 
        Fondamenti di elettronica* <br>  Fondamenti di telecomunicazioni* <br>  Campi elettromagnetici*
      </td>
    </tr>
    <tr class="cell" >
      <td colspan="3">* Per l'indirizzo Sistemi software e web due a scelta tra quelli indicati con '*'</td></tr>
  </tbody>
</table>
