<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/style.css">
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>


{% include menu.html %}

<!-- Header 
<header class="w3-container torve-green w3-center" style="padding-top:60px; padding-bottom:30px;">
</header>
-->

<div id="main_body" class="w3-content">
    <div class="w3-row-padding w3-container">
        <div class="w3-content">
            <p class="w3-text-grey">
                {{ content }}
            </p>
        </div>
    </div>
</div>


<!-- Footer -->
<!--
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>
-->

<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/code.js"></script>
<script type="text/javascript">

function getHeight() {
  var nav = document.getElementById("pinned_nav");
  var nav_height = nav.offsetHeight; //append this var where you need to.
  return nav_height;
};

window.smoothScroll = function(target) {
    var scrollContainer = target;
    var tgt = target;
    do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = 0;
    do { //find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
    } while (target = target.offsetParent);
    console.log(tgt, targetY, getHeight());
    targetY -= getHeight();
    const y = tgt.getBoundingClientRect().top + window.pageYOffset  - getHeight()*2;

    console.log(tgt, y, targetY);
    window.scrollTo({top: targetY, behavior: 'smooth'});

/*
    scroll = function(c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function(){ scroll(c, a, b, i); }, 20);
    }
    // start scrolling

    scroll(scrollContainer, scrollContainer.scrollTop, targetY-getHeight(), 0);
*/
};

if ('scrollRestoration' in window.history) {
  window.history.scrollRestoration = 'manual'
};

let anchorlinks = document.querySelectorAll('a[href^="#"]')
var offset = getHeight();

for (let item of anchorlinks) { // relitere 
    item.addEventListener('click', (e)=> {
        let hashval = item.getAttribute('href');
        let target = document.querySelector(hashval);
        const y = target.getBoundingClientRect().top + window.pageYOffset  - 1*offset;
        console.log(target, y);
        //window.focus();
        //document.body.scrollTo(0,0);//{top: y, behavior: 'smooth'});
        setTimeout(function () {
            window.scrollTo({top: y, behavior: 'smooth'});
        },2);
//        window.smoothScroll(target);
  /*      target.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
        })*/
//        history.pushState(null, null, hashval)
 //       e.preventDefault()
    })
};

let main_bd = document.getElementById("main_body");
main_bd.setAttribute("style","margin-top:"+getHeight()+"px");
//main_bd.style.paddingTop = "100px"; 

</script>

<script type="text/javascript" >
    let myPieChart;
    function updateChart() {
                 var selectedItems = [];


// Code to handle selection of "Sistemi software e web"
        var sistemiCheckbox = document.getElementById('sistemi_software_e_web');
        if (sistemiCheckbox.checked) {
            var curBool = true;
            // Select the associated courses
            document.getElementById('Algebra_e_logica').checked = curBool;
            document.getElementById('Automi_e_linguaggi').checked = curBool;
            document.getElementById('Ingegneria_di_Internet_e_Web').checked = curBool;
            document.getElementById('Basi_di_dati').checked = curBool;
            curBool = !curBool;
            document.getElementById('Automazione_e_robotica').checked = curBool;
            document.getElementById('Controlli_automatici').checked = curBool;
            document.getElementById('Laboratorio_di_automatica').checked = curBool;
            document.getElementById('Teoria_dei_sistemi').checked = curBool;

        }
        if (robotica_ed_automazione.checked) {
            var curBool = false;
            // Select the associated courses
            document.getElementById('Algebra_e_logica').checked = curBool;
            document.getElementById('Automi_e_linguaggi').checked = curBool;
            document.getElementById('Ingegneria_di_Internet_e_Web').checked = curBool;
            document.getElementById('Basi_di_dati').checked = curBool;
            curBool = !curBool;
            document.getElementById('Automazione_e_robotica').checked = curBool;
            document.getElementById('Controlli_automatici').checked = curBool;
            document.getElementById('Laboratorio_di_automatica').checked = curBool;
            document.getElementById('Teoria_dei_sistemi').checked = curBool;

        }

            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            checkboxes.forEach(function(checkbox) {
                selectedItems.push(checkbox.id);
            });

            var categories = {}
                categories['Fondamenti di ingegneria'] = {
                    color: 'rgba(255, 99, 132, 0.5)',
                };
                categories['Robotica ed automazione']= {
                    color: 'rgba(54, 162, 235, 0.5)',
                };

          if ( !sistemiCheckbox.checked && !robotica_ed_automazione.checked){
            console.log(data)
            categories['Caratterizzanti'] = {
                    color: 'rgba(75, 75, 75, 0.5)'
                };
          } 

                categories['Ingegneria informatica']= {
                    color: 'rgba(255, 206, 86, 0.5)',
                };
               categories["Ingegneria dell'informazione"]= {
                    color: 'rgba(192, 15, 192, 0.5)',
                };
               categories['A scelta']= {
                    color: 'rgba(75, 192, 0, 0.5)',
                };
            




var weights = {
    'Analisi_matematica_1': 12,
    'Analisi_matematica_2': 6,
    'Fisica_1': 9,
    'Fisica_2': 6,
    'Fondamenti_di_informatica': 9,
    'Geometria': 9,
    'Ingegneria_degli_algoritmi': 6,
    'Probabilita_e_statistica': 6,
    'Ricerca_operativa': 6,
    'Calcolatori_elettronici': 9,
    'Sistemi_operativi': 9,
    'Ingegneria_del_software_e_progettazione_Web': 12,
    'Mobile_programming': 6,
    'Automazione_e_robotica': 12,
    'Controlli_automatici': 6,
    'Laboratorio_di_automatica': 6,
    'Teoria_dei_sistemi': 6,
    'Fondamenti_di_controlli': 9,
    'Fondamenti_di_elettronica': 9,
    'Fondamenti_di_telecomunicazioni': 9,
    'Campi_elettromagnetici': 6,
    'A_scelta': 12,
    'Algebra_e_logica': 6,
    'Automi_e_linguaggi': 6,
    'Ingegneria_di_Internet_e_Web': 9,
    'Basi_di_dati': 9
};


            var data = {
                labels: Object.keys(categories),
                datasets: [{
                    data: Object.keys(categories).map(function(category) {
                        return category === 'Caratterizzanti' ? 30 : selectedItems.reduce(function(acc, item) {
                            return acc + (getCategory(item) === category ? (weights[item] || categories[category].weight) : 0);
                        }, 0);
                    }),
                    backgroundColor: Object.keys(categories).map(function(category) {
                        return categories[category].color;
                    }),
                    borderColor: Object.keys(categories).map(function(category) {
                        return categories[category].color;
                    }),
                    borderWidth: 1
                }]
            };

            var ctx = document.getElementById('myChart').getContext('2d');

         if (myPieChart) {
            myPieChart.destroy();
          } 
          if ( !sistemiCheckbox.checked && !robotica_ed_automazione.checked){
            console.log(data)
          } 
          {
            myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
        animation: {
            duration: 0 // Set animation duration to 0
        }
    }
            });
            }
        }



      function getCategory(course) {
            if (course.includes('Analisi_matematica') || course.includes('Fisica') || course.includes('Geometria') ||
                course.includes('Probabilita_e_statistica') || course.includes('Algebra_e_logica')) {
                return 'Fondamenti di ingegneria';
            } else if (course.includes('Fondamenti_di_controlli') || course.includes('Automi_e_linguaggi') || course.includes('Calcolatori_elettronici') || course.includes('Automazione_e_robotica') ||
                course.includes('Controlli_automatici') || course.includes('Laboratorio_di_automatica') || course.includes('Teoria_dei_sistemi')) {
                return 'Robotica ed automazione';
            } else if ( course.includes('Fondamenti_di_elettronica') ||
                course.includes('Fondamenti_di_telecomunicazioni') || course.includes('Campi_elettromagnetici')) {
                return "Ingegneria dell'informazione";
            }  else if ( course.includes('A_scelta')) {
                return 'A scelta';
            }
            else {
                return 'Ingegneria informatica';
            }
        }
        // Initialize chart on page load
        updateChart();
</script>

</body>
</html>