---
layout: default
---

<div class="w3-row">
<p class="w3-text-grey">
    {% include breadcrumbs.html %}
</p>
</div>

<div class="w3-row w3-padding">
     {% if page.toc %}
     <div class="w3-col w3-margin m2 w3-small">
         {% include toc.html html=content %}
     </div>
     <div class="w3-col w3-margin m9">
         <h2>{{ page.title }}</h2>
         <p class="w3-text-grey">
             {{ content }}
         </p>
     </div>
     {% else %}
     <div class="w3-col w3-margin m12">
         <h2>{{ page.title }}</h2>
         <p class="w3-text-grey">
             {{ content }}
         </p>
     </div>
     {% endif %}
 </div>
